.catalogItem {
    background: rgb(248, 248, 248);
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    width: 22.5rem;
    height: 32rem;
}

.catalogItem h3 {
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 0.81rem;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0%;
    text-align: left;

}

.item__description {
    color: rgb(93, 93, 93);
    width: 19.67rem;
    height: 3.19rem;
    font-size: 0.88rem;
    font-weight: 300;
    line-height: 1.06rem;
    letter-spacing: 0%;
    text-align: left;
}

.catalogItem img {
    width: 300px;
    height: 340px;
    display: block;
    object-fit: cover;
    position: relative;
    text-align: center;
}

.item__price {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
    padding-bottom: 10px;
    text-align: left;
}

.item__btn {
    position: absolute;
    width: 300px;
    height: 345px;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 10%;
    margin-top: -340px
}

.item__link {
    position: relative;
}

.item__btn:hover {
    transition: 2ms;
    cursor: pointer;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
    opacity: 100%;
    background-color: rgba(58, 56, 56, 0.83);
    text-align: center;

}