.container__catalog {
    margin-bottom: 100px;

}

.catalog {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 550px);
    gap: 0px;
    justify-items: end;
    align-items: start;
    justify-content: center;
    border: 1px solid #ffffff;
}

.catalog__tit {
    font-size: 30px;
    line-height: 54px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #222222;
    text-align: center;
}

.catalog__par {
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #9f9f9f;
    text-align: center;
}



.bottom__link {
    background-color: #f16d7f;
    width: 212px;
    height: 58px;
    font-size: 16px;
    line-height: 54px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-align: center;
    border: none;
    margin: 0 auto;
    display: block;
}

.bottom__link:hover {
    background-color: #ffffff;
    color: #ef5b70;
    border: 1px solid #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}