.breadcrumbs {
    height: 148px;
    background-color: #f8f3f4;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
}

.bread__crumb__titl {
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f16d7f;
    text-align: center;
    padding-left: 50px;
}

.bread__crumb__link {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #636363;
}