.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    align-content: space-around;
    align-items: center;
    justify-content: space-between;
    background-color: #F1E4E6;
    margin-bottom: 100px;
}

.home__text {
    text-align: start;
    padding-left: 20px;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #222222;
    border-left: 30px solid #f16d7f;
}

span2 {
    color: #F16D7F;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

span1 {
    color: #222;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}