.header {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    background-color: #222;
    border: 1px solid #e6e6e6;
}

.headerLeft {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    align-items: flex-end
}

.headerRight {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    align-items: flex-start
}

.headerRight img {
    cursor: pointer;
}

.headerLogo {
    cursor: pointer;
}